/* @font-face {
    /* font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Thin.ttf') format('truetype');
 */

 * {
    font-family: 'RobotoMono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(189, 195, 199), rgb(44, 62, 80));
}

h1 {
    font-size: 7em;
    position: relative;
    -webkit-text-stroke: 0.3vw#ffffff;
    text-transform: uppercase;
    color: #191970;
}

h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;;
    color: #000000;
    -webkit-text-stroke: 0vw#383d52;
    border-right: 2px solid #cdcdcd;
    overflow: hidden;
    animation: animate 6s linear infinite;
    -webkit-animation: animate 6s linear infinite;
}

.temporizador .digito {
    background-color: rgb(35, 35, 35);
    color: #FFF;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    font-size: 3em;
}

.temporizador .separador {
    color: #000;
    margin: 5px;
    font-size: 4em;
}

.temporizador .mensagem {
    text-align: center;
    padding-top: 25px;
    font-size: 1.8em;
    font-weight: bold;
}

@keyframes animate{
    0%{
        width: 0;
    }

    70%{
        width: 100%;
    }
}